/* styles.scss */


// VARIABLES
$main-font: Arial, sans-serif;
$main-color: #02132C;
$color1:#02132C;
$color2:#063375;
$color3:#0a52bd;
$color4:#F5AE43;
$color5:#F9CD8C;
$color6:#FDEDD5;


// DEFINICION DE ESTILOS
.container {
    font-family: $main-font;
    color: $main-color;
}

.row {
    display: flex;
    justify-content: center;
}

.col {
    flex: 1;
    padding: 10px;
    text-align: center;
    border: 50px solid $main-color;
    margin: 5px;
    background: linear-gradient(45deg,black,rgba(0, 0, 255, 0.396));
    color:white;
    font-family: 'Courier New', Courier, monospace;
    a{
        color:white;
        text-decoration: none;
    }
    
    
}
.col:hover{
    transition: 1s;
}

.border-dark-subtle {
    border-color: darken($main-color, 80%);
}


.m-1 {
    margin: 1px;
}

.m-2 {
    margin: 2px;
}

.m-5 {
    margin: 5px;
}

/*BUCLES*/
@for $i from 1 to 3 {
    .p-#{$i} {
        padding: 0px + $i;
    }
}

.display-6 {
    font-size: 1.5rem;
    font-weight: bold;
}

